@{
    ViewBag.Title = "About the Quiz Challenger";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>This site provides various quiz questions. You do not need to be a genius to solve the quesiton.
    You just use your common sense. When you click Challenge! button, you will get a random question.
    Click the answer you think is right. We will keep add more questions.</p>
